    public function __construct()
    {
        if (method_exists({parentName}, '__construct') && self::$__phpunit_callOriginalConstructor) {
            return call_user_func_array(array({parentName}, '__construct'), func_get_args());
        }
    }
